# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Extension build output
dist/
build/
*.zip
*.crx
